#form {
  background: #2f0b0b;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  box-sizing: border-box;
}
#input {
  border: none;
  padding: 10px;
  flex-grow: 1;
  border-radius: 100px;

  margin: 5px;
}
#input:focus {
  outline: none;
}
#form > button {
  color: #241d2f;
  background: #e3dff1;
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  border-radius: 20px;
  font-family: "Lobster", cursive;
  cursor: pointer;
}

#form > button:hover {
  background: yellow;
  color: #4d4a52;
  font-family: "Lobster", cursive;
}

#messages {
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 70px;
}
#messages > li {
  padding: 10px 30px;
  margin: 15px;
  background: #e3dff1;
  color: #241d2f;
  border-radius: 100px;
  overflow-wrap: break-word;
  font-family: "Righteous", cursive;
}

#messages > li:nth-child(odd) {
  background: #241d2f;
  color: white;
}
