.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  background: #2f0b0b;
  color: white;
  font-family: "Lobster", cursive;
}

.nav-link:link {
  text-decoration: none;
  color: white;
  margin-top: 10px;
  font-size: 20px;
}

.nav-link:visited {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  text-decoration: none;
  color: yellow;
}

.nav-title {
  color: #e3dff1;
  outline: auto;
  padding: 10px;
}
